

<%
    function getPostCover(post) {
        var content = post.content
        var regex = /<img src="(\S+)"/
        var result = regex.exec(content)

        if (result && result[1]) {
            return result[1]
        }
    }
%>
<section class="posts">
    <% page.posts.each(function (post) { %>
        <article class="post">

                    <h1 class="post-title">
                        <a href="<%- url_for(post.path) %>">
                            <%= post.title %>
                        </a>
                    </h1>

                    <% post.categories.each(function (cat) { %>
                        <p class="post-cat">
                            <a href="<%- url_for(cat.path) %>">
                                <%= cat.name %>
                            </a>
                        </p>
                        <%  }) %>

                    <% post.tags.each(function (tag) { %>
                        <p class="post-tag">
                            <a href="<%- url_for(tag.path) %>">
                                <%= tag.name %>
                            </a>
                        </p>
                        <%  }) %>

                    <p class="post-date">
                            <%- date(post.date) %>

                    </ul>
                    <% if (theme.auto_cover && getPostCover(post)){%>
                        <div class="post-cover">
                            <img src="<%- getPostCover(post) %>">
                        </div>
                    <%}%>
                    <div class="post-content ">
                        <a href="<%- url_for(post.path) %>" class="more-link"> <%- post.description %></a>
                    </div>
        </article>
        <% }) %>
</section>
