<article class="post">
    <h2 class="post-title">
        <%= page.title %>
    </h2>
    <% if (page.categories){%>
    <% page.categories.each(function (cat) { %>
    <h4 class="post-cat">
        <a href="<%- url_for(cat.path) %>">
            <%= cat.name %>
        </a>
    </h4>
    <%  }) %>
    <% } %>

    <% if (page.tags){%>
    <% page.tags.each(function (tag) { %>
        <p class="post-tag">
            <a href="<%- url_for(tag.path) %>">
                <%= tag.name %>
            </a>
        </p>
        <%  }) %>
        <% } %>

        <p class="post-date">
            <%- date(page.date, "YYYY-MM-DD") %>
        </p>    


    <div class="post-content">
        <%- page.content %>
    </div>


</article>